<header class="navbar">
  <nav>
    <span class="navbar-brand">Mi Aplicación de Videojuegos</span>
    <ul class="navbar-nav">
      <li><a href="/">Inicio</a></li>
      <li><a href="/videojuegos">Catálogo</a></li>
    </ul>
  </nav>
</header>
