<header class="navbar">
  <nav>
    <a href="/" class="navbar-brand">Mi Aplicación de Videojuegos</a>
    <ul class="navbar-nav">
      <li><a href="/">Inicio</a></li>
      <li><a href="/videojuegos">Catálogo</a></li>
    </ul>
  </nav>
</header>
