<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Contenido principal de la página -->
    <main class="content">
      <div class="container">
        <h1>Bienvenido a la Aplicación de Videojuegos</h1>
        <p>
          Explora nuestro catálogo y descubre los videojuegos más populares.
        </p>
        <a href="/videojuegos" class="button">Ver Catálogo de Videojuegos</a>

        <!-- Botón para abrir el diálogo -->
        <button onclick="openDialog()">Abrir Diálogo</button>
      </div>
    </main>

    <!-- Diálogo -->
    <dialog id="dialog">
      <p>Este es un mensaje en un diálogo.</p>
      <button onclick="closeDialog()">Cerrar</button>
    </dialog>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- JavaScript para manejar el diálogo -->
    <script>
      function openDialog() {
        document.getElementById("dialog").showModal();
      }

      function closeDialog() {
        document.getElementById("dialog").close();
      }
    </script>
  </body>
</html>
