<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mensaje Enviado</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <h1>Gracias, <%= nombre %>!</h1>
    <p>
      Tu mensaje ha sido enviado con éxito. Nos pondremos en contacto contigo
      pronto.
    </p>
    <a href="/">Volver al inicio</a>
  </body>
</html>
