<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Perfil de <%= user.username %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Ruta ajustada al CSS -->
  </head>
  <body>
    <h1>Bienvenido, <%= user.username %></h1>
    <p>Email: <%= user.email %></p>
    <a href="/">Volver al inicio</a>
  </body>
</html>
